.front{
    position: absolute;
    left: 40%;
    top: 20%;
}

.front h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    color: white;
}

.front p{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 55%;
    bottom: 120px;
    font-size: 11px;
    color: white;
}

.front span{
    position: relative;
    font-size: 80px;
    bottom: 10px;
}

.message p{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    left: 80px;
}

body {
    background-color: black;
  }



